@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding: 0 4%;
}

body{
    background: linear-gradient(rgb(12, 12, 107) , rgb(73, 6, 6));
    overflow-y: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 0 10px;
    font-size: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: red;
}
section{
    position: relative;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.secao_texto {
    margin: 30px;
    color: white;
    width: 55%;
    align-items: start;
}
.secao_texto02{
    position: relative;
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    color: white;
    background-color: ;
}
.secao_texto h1{
    font-size: 5rem;
    margin-top: 0px auto;
    text-shadow: 3px 0 purple,
    -3px 0 purple,
    0 3px purple,
    0 -3px red,
    2px 2px red,
    -2px -2px purple,
    2px -2px red,
    -2px 2px purple;

}
.secao_texto02 h1{
    font-size: 5rem;
    margin-top: 0px auto;
    text-shadow: 3px 0 purple,
    -3px 0 purple,
    0 3px purple,
    0 -3px red,
    2px 2px red,
    -2px -2px purple,
    2px -2px red,
    -2px 2px purple;
}
.secao_img{
    display: flex;
    align-items: start;
    justify-content: end;
    height: 100vh;
    width: 500vh;
    
}
.secao_img img{
    width: 550px;
    border-radius: 40px;
    margin: 5px;
}

@media (max-width: 520px)
    section{
        width: 90%;
        padding: 30px;
    }
    section img{
        width: 100%;
    
    }
header nav ul{
    font-size: 1.3rem;
    color: black;
}
section {
    gap: 15px;
}